<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Bean定义 -->
	<bean class="com.whr.demo.bean.Cat" id="cat" autowire="byType">
		<property name="name" value="张三的猫"></property>
	</bean>
	<bean class="com.whr.demo.bean.Person">

	</bean>
</beans>